/* 
    Document   : cssOverrides
    Created on : May 14, 2012, 10:51:19 AM
    Author     : 
    Description:
        Purpose of the stylesheet follows.
*/

/*Center growl component*/
.ui-growl {   
    top: 40% !important;
    left: 43% !important;
}

.ui-growl-icon-close {
    cursor: pointer !important; 
    left: 270px !important;
}

/*Determinar o tamanho de cada collumn com table layout auto*/
#edit\:systemTableId td:nth-child(6){
    width: 80px;   
}

/*Ellipses inside table td component*/
.ui-dt-c{
    text-overflow:ellipsis;
    overflow:hidden;
/*    white-space:nowrap;*/
}

/*Better fileupload component*/
.files td{
    /*    display: inline !important;*/
    max-width: 300px !important;
    overflow: hidden !important;
} 

.files .size {
    padding: 0 10px 0 10px !important;
}

/*Datatable Elipsis*/
.ui-dt-c{
    text-overflow:ellipsis;
    overflow:hidden;
    white-space: normal;
}

/*Better active state*/
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
    border:1px solid #79b7e7 !important;
    background: #6ba7ef !important;
    color: white !important;
}

/*Centralizar componentes na tela*/
/*#planceHolder_grvProdutos
{
    margin-left: auto;
    margin-right: auto;
}*/
