<!DOCTYPE html>
<html layout:decorator="default">

  <!-- /* Content of this page will be decorated by the elements of default.html */ -->
  <div layout:fragment="content">

    <p th:text="#{greeting(${name})}" />
    <p th:text="${#httpServletRequest.remoteUser}" />

    <form th:action="@{logout}" method="post">
      <input type="submit" value="Sign Out"/>
    </form>

    <!-- TODO : NOT WORKING???
    http://stackoverflow.com/questions/30788105/spring-security-hasrole-not-working -->
    <div sec:authorize="hasRole('ADMIN')">
      This content is only shown to administrators.
    </div>
    <div sec:authorize="hasRole('USER')">
      This content is only shown to users.
    </div>

    <div th:if="${#strings.contains(#authentication.principal.authorities,'ADMIN')}" >
      This content is only shown to administrators and is a terrible workaround.
    </div>

  </div>

</html>