<!DOCTYPE html>
<html layout:decorator="default">

  <!-- /* Content of this page will be decorated by the elements of default template */ -->
  <div layout:fragment="content">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <td>ID</td>
          <td>Name</td>
          <td>Contet</td>
          <td>Description</td>
        </tr>
      </thead>
      <tbody>
        <tr th:if="${scripts.empty}">
          <td colspan="4">No Scripts</td>
        </tr>
        <tr th:each="script : ${scripts}">
          <td th:text="${script.id}">1</td>
          <td th:text="${script.name}">name</td>
          <td th:text="${script.content}">Text ...</td>
          <td th:text="${script.description}">Description</td>
				</tr>
      </tbody>
    </table>
  </div>

</html>